@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

  *{
   
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right bottom, #051937, #004c76, #00848e, #00b971, #abe42c);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}

.search {
    position: relative;
    height: 50px;
}

.search .input {
    background: rgba( 0, 0, 0, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #fff;
    border: 0;
    font-size: 16px;
    font-weight: 300;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3 ease;

}

.btn {
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3 ease;
}

.search .input::placeholder {
    color: #fff;
}

.btn> i {
    color: #fff;
}

.btn:focus, 
.input:focus {
    outline: none;

}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translate(198px);
}